# Services to pull from Harbor instead of building locally.
# Uncomment a service to skip its local Docker build and use the
# pre-built "develop" image from Harbor instead.
#
# Usage: cp dev-local.conf.example dev-local.conf
#        then uncomment the services you don't need to build.
#        Run ./dev.sh to start.
#
# Available services: godotserver, horizon, service-resourcesdynamic, keycloak, livekit

#godotserver
#horizon
#service-resourcesdynamic
#keycloak
#livekit
